body,div,input,header,a{margin: 0;padding: 0;}
#days-left{position: absolute;color: #099;font-weight: bolder;font-family: "Microsoft Yahei";}
#days-left #tip{font-size: 15px;}
#days-left #data{font-size: 80px;color: #0ff;}
header{width: 100%;text-align: center;margin-top: 50px;}
header #headTxt{color: #099;font-size: 40px;font-family: "Microsoft Yahei";}
#targetSet{width: 100%;text-align: center;color: #099;font-size: 15px;font-family: "Microsoft Yahei"}
#targetSet input{display: inline-block;border-radius: 3px;border: none;width: 20px;text-align: center;color: #0ff; background-color: #666;}
#targetSet input[id="yearSet"]{width: 3em;}
#targetSet #timeSet-btn{display: block; width: 9em; height: 2em; line-height: 2em; margin: 3px auto;text-decoration: none;color: #fff; background-color: transparent; border-radius: 3em;border: 2px solid #fff;

	transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	-o-transition: 1s ease-in-out;
}

#targetSet #timeSet-btn:hover{border-radius: 12px;background-color: #099;color: #fff;font-weight: bolder;border-color: #066;}